<h2>Inscription</h2>
<p>Vous avez déjà un compte ? <a routerLink>Connectez-vous !</a></p>
<p>Pour vous inscrire, veuillez remplir les champs ci-dessous :</p>

<form (ngSubmit)="onSubmit(subscriptionForm)" #subscriptionForm="ngForm">
    <div>
        <label for="firstName">Prénom : </label>
        <input type="text"
                name="firstName"
                required
                ngModel>
    </div>
    <div>
        <label for="lastName">Nom : </label>
        <input type="text"
                name="lastName"
                required
                ngModel>
    </div>
    <div>
        <label for="birthDate">Date de naissance : </label>
        <input type="date"
                name="birthDate"
                required
                ngModel>
    </div>
    <div>
        <label for="email">Email : </label>
        <input type="text"
                name="email"
                required
                ngModel>
    </div>
    <div>
        <label for="password">Mot de passe : </label>
        <input type="password"
                name="password"
                required
                ngModel>
    </div>

    <button type="submit">Valider</button>
</form>
    